$fontRegular: '/fonts/Inter-Regular.woff2';
$fontBold: '/fonts/Inter-Bold.woff2';

$includeResets: true;
$includeUtilities: true;
$includeTooltip: true;
$includeScrollbarStyles: true;
$includeBreakpoints: true;